.jumbotron{
    background: none;
    background-color: azure ;
    opacity: 0.9;
    box-shadow: 2px 2px 5px #999;


}
#probando{
    background:url(../../img/login_bg.png) no-repeat center top;
    background-repeat: no-repeat;
    background-position: center top;
    background-size:100% 100%;
    opacity: 0.9;
}
.carousel-inner{
    box-shadow: 2px 2px 5px #999;
}