<div id="body2">

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-1" *ngFor="let file of archivos">
                <div id="archivo" class="card" style="margin: 15px;">
                    <div class="card-body" >
                      <img style="float: left; margin-right: 7px;" src="https://image.flaticon.com/icons/svg/337/337946.svg" class="card-img-left" alt="..." width="100" height="100">
                      <h5 class="card-title">{{file.name}}</h5>
                      <p class="card-text">{{file.descripcion}}</p>
                    </div>
                    <div class="col align-self-end text-right" >
                        <button (click)="revisar(file._id)"  type="submit" class="btn btn-link">Descargar</button>
                        <button (click)="revisar(file._id)"  type="submit" class="btn btn-link">Revisar</button>
                    </div>
                </div>
                
            </div> 
        </div>
        
    </div>
    
</div>
